.product-information
{
    font-size: medium;
    
}

.image-container{
    height: 250px;
    position: relative;
  
}

.product-zoom-image{
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
   
}

b{
    color: rgb(85, 139, 153);
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(90, 135, 156);
    font-weight: 600;
}

h5{
    font-weight: bold;
    font-style: italic;
}
p{
    font-style: italic;
}